<body class="background centered">

	<div class="big-screen">
		<div style="width: 65vw; word-wrap: break-word; display: block; margin-left: auto; margin-right: auto; margin-top: 50px; margin-bottom: 100px">
		<font color="#000099" style="font-family: 'Courier New'">
		<font style="font-size: 38px"><b>About CF Statistics</b></font>
		<br/>
		<br/>
		<br/>
		<font style="font-size: 16px">CF Statistics - or simply CFStats - started as an university project at the University of São Paulo (Brazil). As the time went by, we got more and more excited about the website and started working even harder to provide a good extra resource for Codeforces users.</font>
		<br/>
		<br/>
		<font style="font-size: 16px">With CFStats we hope to help competitive programmers in their practice routine allowing an easy view of attempted (but unsolved) problems, letting users pick contests and problems to upsolve and also allowing stats comparison between two users. These features are just the beggining: we plan on adding more and more features to the project with help of the community. After all, we want to enhance the experience on Codeforces as much as we can!</font>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<font style="font-size: 38px"><b>Meet the devs</b></font>
		<br/>
		<br/>
		<font style="font-size: 18px"><a target='_blank' href='http://codeforces.com/profile/PedroBortolli'>Pedro Bortolli</a></font>
		<br/>
		<font style="font-size: 18px"><a target='_blank' href='http://codeforces.com/profile/nakamura'>Enzo Hideki</a></font>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<i> All credit goes to Codeforces and its owner Mike Mirzayanov. Thanks for making such an awesome online judge for us to compete! The entire competitive programming community appreciates your effort!</i>
		</div>
	</div>

	<div class="middle-screen">
		<div style="width: 80vw; word-wrap: break-word; display: block; margin-left: auto; margin-right: auto; margin-top: 50px; margin-bottom: 70px">
		<font color="#000099" style="font-family: 'Courier New'">
		<font style="font-size: 38px"><b>About CF Statistics</b></font>
		<br/>
		<br/>
		<br/>
		<font style="font-size: 16px">CF Statistics - or simply CFStats - started as an university project at the University of São Paulo (Brazil). As the time went by, we got more and more excited about the website and started working even harder to provide a good extra resource for Codeforces users.</font>
		<br/>
		<br/>
		<font style="font-size: 16px">With CFStats we hope to help competitive programmers in their practice routine allowing an easy view of attempted (but unsolved) problems, letting users pick contests and problems to upsolve and also allowing stats comparison between two users. These features are just the beggining: we plan on adding more and more features to the project with help of the community. After all, we want to enhance the experience on Codeforces as much as we can!</font>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<font style="font-size: 38px"><b>Meet the devs</b></font>
		<br/>
		<br/>
		<font style="font-size: 18px"><a target='_blank' href='http://codeforces.com/profile/PedroBortolli'>Pedro Bortolli</a></font>
		<br/>
		<font style="font-size: 18px"><a target='_blank' href='http://codeforces.com/profile/nakamura'>Enzo Hideki</a></font>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<i> All credit goes to Codeforces and its owner Mike Mirzayanov. Thanks for making such an awesome online judge for us to compete! The entire competitive programming community appreciates your effort!</i>
		</div>
	</div>

	<div class="small-screen">
		<div style="width: 90vw; word-wrap: break-word; display: block; margin-left: auto; margin-right: auto; margin-top: 50px; margin-bottom: 50px">
		<font color="#000099" style="font-family: 'Courier New'">
		<font style="font-size: 38px"><b>About CF Statistics</b></font>
		<br/>
		<br/>
		<br/>
		<font style="font-size: 16px">CF Statistics - or simply CFStats - started as an university project at the University of São Paulo (Brazil). As the time went by, we got more and more excited about the website and started working even harder to provide a good extra resource for Codeforces users.</font>
		<br/>
		<br/>
		<font style="font-size: 16px">With CFStats we hope to help competitive programmers in their practice routine allowing an easy view of attempted (but unsolved) problems, letting users pick contests and problems to upsolve and also allowing stats comparison between two users. These features are just the beggining: we plan on adding more and more features to the project with help of the community. After all, we want to enhance the experience on Codeforces as much as we can!</font>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<font style="font-size: 38px"><b>Meet the devs</b></font>
		<br/>
		<br/>
		<font style="font-size: 18px"><a target='_blank' href='http://codeforces.com/profile/PedroBortolli'>Pedro Bortolli</a></font>
		<br/>
		<font style="font-size: 18px"><a target='_blank' href='http://codeforces.com/profile/nakamura'>Enzo Hideki</a></font>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<i> All credit goes to Codeforces and its owner Mike Mirzayanov. Thanks for making such an awesome online judge for us to compete! The entire competitive programming community appreciates your effort!</i>
		</div>
	</div>


	</div>
</body>