<body class = "background centered">
	<br/>
	<br/>
	<h3> This is a project for MAC0218 - Técnicas de Programação II </h3>

	<br/>
	In this project we were required to build a web application. Given that some of us are fans of programming competition, we decided to make our project in this area.
	<br/>
	After thinking for a while, our goal became to build a website that helps visualize many of Codeforces stats such as problems solved/tried, contests solved/attempted, information in common between two users, comparisons of two users, etc.
	<br/>
	We really hope this tool is useful for someone as we put a lot of effort to make this happen. Many updates are still to come to make the experience with CFStats better, but in the meantime you can already try our features out!
	<br/>
	<br/>
	<br/>
	<h3> CFStats was made by: </h3>
	<br/>
	Pedro Bortolli
	<br/>
	Enzo Nakamura
	<br/>

	<br/>
	<br/>
	<br/>
	<i>
	All credit goes to Codeforces and its owner Mike Mirzayanov. Thanks for making such an awesome online judge for us to compete! The entire competitive programming community appreciates your effort!
	</i>
</body>