<body class="background centered">

	<div class="big-screen">
		<div style="width: 65vw; word-wrap: break-word; display: block; margin-left: auto; margin-right: auto; margin-top: 50px; margin-bottom: 100px">
		<font color="#000099" style="font-family: 'Courier New'">
		<font style="font-size: 38px"><b>Compare 2 Codeforces handles!</b></font>
		<br/>
		<br/>
		<br/>
		<font style="font-size: 16px">You can type two valid CF handles at the top navigation bar to see their stats comparison, such as rating graph for both users, problems solved in common, charts of problems solved by tag, unique problems solved by each user, etc.</font>
		<br/>
		<font style="font-size: 16px">We store each user's Codeforces informations in our database in order to quickly load the content of a handle. We then update the information of the oldest users in our database every few hours. That means everyone will eventually have their profile updated.</font>
		<br/>
		<br/>
		<font style="font-size: 22px"><b>Don't wanna wait for the auto update?</b></font>
		<br/>
		<br/>
		<font style="font-size: 16px">That's fine! You can click on the 'Force update' checkbox next to the 'Compare!' button to force an update for both users being compared. Additionally, you can update the information for a single user once you are in the comparison page by clicking on the update button above a handle profile picture.</font>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<font style="font-size: 38px"><b>Gather important stuff creating a profile!</b></font>
		<br/>
		<br/>
		<br/>
		<font style="font-size: 16px">On CF Statistics you can save problems/contests that you want to solve later. The advantage of doing that here is that we will let you know if you already solved one of your problems. The same applies if you attempted to solve any problem of a contest (i.e. you submitted something for any problem of the contest).</font>
		<br/>
		<br/>
		<font style="font-size: 22px"><b>Bored of typing a friend's and your handle everytime you want to compare you two?</b></font>
		<br/>
		<br/>
		<font style="font-size: 16px">You can add Codeforces handles as friends to have access to a quick-compare button between you and them.</font>
		</font>
		</div>
	</div>

	<div class="middle-screen">
		<div style="width: 80vw; word-wrap: break-word; display: block; margin-left: auto; margin-right: auto; margin-top: 50px; margin-bottom: 70px">
		<font color="#000099" style="font-family: 'Courier New'">
		<font style="font-size: 38px"><b>Compare 2 Codeforces handles!</b></font>
		<br/>
		<br/>
		<br/>
		<font style="font-size: 16px">You can type two valid CF handles at the top navigation bar to see their stats comparison, such as rating graph for both users, problems solved in common, charts of problems solved by tag, unique problems solved by each user, etc.</font>
		<br/>
		<font style="font-size: 16px">We store each user's Codeforces informations in our database in order to quickly load the content of a handle. We then update the information of the oldest users in our database every few hours. That means everyone will eventually have their profile updated.</font>
		<br/>
		<br/>
		<font style="font-size: 22px"><b>Don't wanna wait for the auto update?</b></font>
		<br/>
		<br/>
		<font style="font-size: 16px">That's fine! You can click on the 'Force update' checkbox next to the 'Compare!' button to force an update for both users being compared. Additionally, you can update the information for a single user once you are in the comparison page by clicking on the update button above a handle profile picture.</font>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<font style="font-size: 38px"><b>Gather important stuff creating a profile!</b></font>
		<br/>
		<br/>
		<br/>
		<font style="font-size: 16px">On CF Statistics you can save problems/contests that you want to solve later. The advantage of doing that here is that we will let you know if you already solved one of your problems. The same applies if you attempted to solve any problem of a contest (i.e. you submitted something for any problem of the contest).</font>
		<br/>
		<br/>
		<font style="font-size: 22px"><b>Bored of typing a friend's and your handle everytime you want to compare you two?</b></font>
		<br/>
		<br/>
		<font style="font-size: 16px">You can add Codeforces handles as friends to have access to a quick-compare button between you and them.</font>
		</font>
		</div>
	</div>

	<div class="small-screen">
		<div style="width: 90vw; word-wrap: break-word; display: block; margin-left: auto; margin-right: auto; margin-top: 50px; margin-bottom: 50px">
		<font color="#000099" style="font-family: 'Courier New'">
		<font style="font-size: 38px"><b>Compare 2 Codeforces handles!</b></font>
		<br/>
		<br/>
		<br/>
		<font style="font-size: 16px">You can type two valid CF handles at the top navigation bar to see their stats comparison, such as rating graph for both users, problems solved in common, charts of problems solved by tag, unique problems solved by each user, etc.</font>
		<br/>
		<font style="font-size: 16px">We store each user's Codeforces informations in our database in order to quickly load the content of a handle. We then update the information of the oldest users in our database every few hours. That means everyone will eventually have their profile updated.</font>
		<br/>
		<br/>
		<br/>
		<font style="font-size: 22px"><b>Don't wanna wait for the auto update?</b></font>
		<br/>
		<br/>
		<font style="font-size: 16px">That's fine! You can click on the 'Force update' checkbox next to the 'Compare!' button to force an update for both users being compared. Additionally, you can update the information for a single user once you are in the comparison page by clicking on the update button above a handle profile picture.</font>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<font style="font-size: 38px"><b>Gather important stuff creating a profile!</b></font>
		<br/>
		<br/>
		<br/>
		<font style="font-size: 16px">On CF Statistics you can save problems/contests that you want to solve later. The advantage of doing that here is that we will let you know if you already solved one of your problems. The same applies if you attempted to solve any problem of a contest (i.e. you submitted something for any problem of the contest).</font>
		<br/>
		<br/>
		<br/>
		<font style="font-size: 22px"><b>Bored of typing a friend's and your handle everytime you want to compare you two?</b></font>
		<br/>
		<br/>
		<font style="font-size: 16px">You can add Codeforces handles as friends to have access to a quick-compare button between you and them.</font>
		</font>
		</div>
	</div>


	</div>
</body>