<head>
    <!-- Bootstrap CSS -->
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"-->
</head>
<h1>
<body class="background centered">
<button onclick="window.location.href='/search'" type="button" class="btn btn-primary">Compare two users</button>
<br>
<button onclick="window.location.href='/profile'" type="button" class="btn btn-primary">Profile</button>
<br>
<button onclick="window.location.href='/about'" type="button" class="btn btn-primary">About us</button>
</br>
</br>
</br>
</br>
<font size = "4">
<b>Website still under construction...</b>
</font>
</body>
</h1>