<head>
    <!-- Bootstrap CSS -->
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"-->
</head>
<h1>
<body class="background centered">
<%= image_tag("logo.png") %>
<br>
<br>
<br>
<button onclick="window.location.href='/search'" type="button" class="btn btn-primary">Compare two users</button>
<br>
<button onclick="window.location.href='/about'" type="button" class="btn btn-primary">About us</button>
<br>
<button onclick="window.location.href='/test'" type="button" class="btn btn-primary">Test</button>
</body>
</h1>