
.split{
  height:100%;
  width:33.33%;
  z-index:1;
  top:0;
  position: relative;
  overflow-x:hidden;
  padding-top:20px;
  padding-left:50px

}

.left{
  left:0;
  background-color:#E0F22F
}


.right{
  right:0;
  background-color:#E0F33F
}

.middle{
  left:33.33%;
  right:33.33%;
  background-color:#E011FF
}

.row {
  z-index:1;
  top:0;
  position: relative;
  overflow-x:hidden;
    width: 100vw;
    height: 40vh;
}

.background{
  background-color:#E0FFFF
}

.centered{
  top:50%;
  left:50%;
  text-align:center}

.rated-user{
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration:none;
  font-weight:bold
  }

.legendary-user-first-letter{color:black}.user-red{color:red}.user-orange{color:#FF8C00}.user-violet{color:#a0a}.user-blue{color:blue}.user-cyan{color:#03A89E}.user-green{color:green}.user-gray{color:gray}


.row:nth-child(1) {
  background-color: #aaa;
}

.row:nth-child(2) {
  background-color: #ddd;
}

.row:nth-child(3) {
  background-color: #ccc;
}

.row:nth-child(4) {
  background-color: #eee;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #003d99;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

@media (max-width: 500px) {
  .big-screen {
    display:none;
  }
}

@media (min-width: 500px) {
  .small-screen {
    display:none;
  }
}

.container
{
    width:80%;
    display:inline-block;
}

.container > .fiftyLEFT
{
    min-width: 250px;
    width:50%;
    float:left;
}

.container > .fiftyRIGHT
{
    min-width: 250px;
    width:50%;
    float:left;
}

.border {
  border-radius: 41px 41px 41px 41px;
  -moz-border-radius: 41px 41px 41px 41px;
  -webkit-border-radius: 41px 41px 41px 41px;
  border: 3px solid #000000;
  /*background: #aad3e0;*/
}

img:hover {
    cursor: pointer;
}