
.split{
  height:100%;
  width:33.33%;
  z-index:1;
  top:0;
  position: relative;
  overflow-x:hidden;
  padding-top:20px;
  padding-left:3vw;
  padding-right:3vw;
}

.left{
  left:0;
  background-color:#E0F22F
}


.right{
  right:0;
  background-color:#E0F33F
}

.middle{
  left:33.33%;
  right:33.33%;
  background-color:#E011FF
}

.row {
  z-index:1;
  top:0;
  position: relative;
  overflow-x:hidden;
    width: 100vw;
    height: 40vh;
}

.background{
  background-color:#E0FFFF
}

.centered{
  top:50%;
  left:50%;
  text-align:center}

.rated-user{
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration:none;
  font-weight:bold
  }

.legendary-user-first-letter{color:black}.user-red{color:red}.user-orange{color:#FF8C00}.user-violet{color:#a0a}.user-blue{color:blue}.user-cyan{color:#03A89E}.user-green{color:green}.user-gray{color:gray}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.row:nth-child(1) {
  background-color: #aaa;
}

.row:nth-child(2) {
  background-color: #ddd;
}

.row:nth-child(3) {
  background-color: #ccc;
}

.row:nth-child(4) {
  background-color: #eee;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #003d99;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

@media (max-width: 500px) {
  .big-screen {
    display:none;
  }

  .middle-screen {
    display: none;
  }

  .big-head {
    display: none;
  }
}

.big-screen {
  background-color: #ddffff; height: 35vw; padding-top: 2%; margin: 0px;
}

.middle-screen {
  height: 120vw; background-color: #ddffff; margin: 0px;
}

.small-screen {
  background-color: #ddffff;
}

@media (min-width: 501px) and (max-width: 1200px) {
  .big-screen {
    display:none;
  }

  .small-screen {
    display:none;
  }

  .big-head {
    display: none;
  }
}

@media (min-width: 1201px) {
  .small-screen {
    display:none;
  }

  .middle-screen {
    display: none;
  }

  .small-head {
    display: none;
  }
}

.container
{
    width:80%;
    display:inline-block;
}

.container > .fiftyLEFT
{
    min-width: 250px;
    width:50%;
    float:left;
}

.container > .fiftyRIGHT
{
    min-width: 250px;
    width:50%;
    float:left;
}

.container > .fiftyCENTER
{
    min-width: 250px; width:50%; margin: 0 auto;
}

.border {
  border-radius: 41px 41px 41px 41px;
  -moz-border-radius: 41px 41px 41px 41px;
  -webkit-border-radius: 41px 41px 41px 41px;
  border: 3px solid #000000;
  /*background: #aad3e0;*/
}

img:hover {
    cursor: pointer;
}

#loadingDiv{
  position:fixed;
  top:0px;
  right:0px;
  width:100%;
  height:100%;
  background-color:#666;
  background-image:asset-data-url("loading.gif");
  background-repeat:no-repeat;
  background-position:center;
  z-index:10000000;
  opacity: 0.8;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

.navbar-custom {
  border-radius: 0px;
  z-index: 16;
  box-shadow: 0 2px 3px 0 rgba(0,0,0, .4);
}