/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Split the screen in half */
.split {
  height: 100%;
  width: 33.33%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #00FFFF;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #20B2AA;
}

.middle {
	left: 33.33%;
	right: 33.33%;
	background-color: #DDA0DD;
}

.background {
  background-color: #E0FFFF;
}

/* If you want the content centered horizontally and vertically */
.centered {
  /*position: absolute;*/
  top: 50%;
  left: 50%;
  /*transform: translate(-50%, -50%);*/
  text-align: center;
}

.rated-user {
    /*font-family: arial;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-weight: bold;
}

.legendary-user-first-letter {
    color: black;
}

.user-red {
    color: red;
}

.user-orange {
    color: #FF8C00;
}

.user-violet {
    color: #a0a;
}

.user-blue {
    color: blue;
}

.user-cyan {
    color: #03A89E;
}

.user-green {
    color: green;
}

.user-gray {
    color: gray;
}