<p>Welcome to CFStats, <%= @email %>!</p>

<p>Please confirm your account clicking on the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Thanks,</p>

<p>CFStats team</p>