<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>As requested, your email is being changed to <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Your email has been succesfully changed to <%= @resource.email %>.</p>
<% end %>
